.details {
    
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

/* NUMBER AND TITLE */
#num-and-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

.number {
    margin: 10px;
    font-size: 2em;
}

.details-title {
    font-size: 2em;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* BARS, WORDS, AND CHORUS */

/* verse */

#verse {
    display: flex;
    flex-direction: column;
}

#verse-and-bars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.vl {
    border-left: 6px solid silver;
}

#verse-and-horizontal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.h-bars-text {
    border-top: 3px solid silver;
    border-bottom: 3px solid silver;
    display: flex;
    justify-content: center;
}

.h-bars {
    border-top: 3px solid silver;
    border-bottom: 3px solid silver;
    padding: 10px;
}

#dotdotdot {
    align-self: center;
}

#firstLine {
    align-self: center;
}

/* chorus */

#chorus {
    display: flex;
    flex-direction: column;
}

#chorus-and-bars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#chorus-and-horizontal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#description-small-verse {
    color:  rgb(91, 37, 50);
    align-self: center;
}

#description-small-chorus {
    color:  rgb(91, 37, 50);
    align-self: center;
}

#chorusLine {
    align-self: center;
}

/* SONG INFORMATION */

#info-cont {
    display: flex;
    flex-direction: row;
}

.vert {
    display: flex;
    flex-direction: column;
}

.info {
    border-bottom: 2px solid silver;
    padding-bottom: 2px;
    margin-top: 15px;
    margin-left: 15px;
    width:fit-content;
    margin-bottom: 0;
}

.description {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    color:  rgb(91, 37, 50);
}

#words {
    flex-grow: 1;
    margin-left: -16px;
}

#music {
    flex-grow: 5;
}

#tune {
    flex-grow: 0;
}

.spacer {
    min-height: 150px;
}